html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background: #F5EFE8;

}

h1 {
    padding: 12px 0px;

    margin: 0;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
}

p {
    line-height: 1.5;
}

main {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 14px 0;
    display: block;
}

a:hover {
    text-decoration: underline;

}

.all-title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    display: flex;
    flex-basis: 100%;
    justify-content: center;

}

.school {
    display: flex;
    margin-left: 90px;
    width: 45%;
}

.info {
    display: flex;
}

.title {
    display: flex;
}

ul {
    display: flex;
    padding:0;
}

li {
        flex: 1;
        text-align: center;
}

/* Navigation */

nav {
    height: 200px;
    background: #F5EFE8;
    max-width: 1400px;
    margin: 0;
    position: fixed;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    z-index: 100;
    flex-wrap: wrap;
}

nav a {

    color: #black;
    transition: 0.4s;
}

nav a:hover {
    text-decoration: none;
    color: blue;
}

nav > ul {

    list-style: none;
}

.active {
    color: blue;
}

#logo-img {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height:130px;
    align-items: center;
    padding: 5px;
    transition: 0.4s;
}

#logo-img:hover {
    background: black;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: #eee;
    display: none;
    align-items: center;
}

/* Slideout Menu */

#slideout-menu {
    display: none;
    background: #2d3436;
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

#slideout-menu ul {
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li {
    padding: 8px;
}

#slideout-menu a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: white;
}


/* Sections */

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-heading {
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
}

.section-heading:hover {
    padding: 4px 48px;
    background: blue;
}

/* Slideout Menu */

#section-source p {
    padding: 8px;
    text-align: center;
}

/* Cards */

.card-image {
    transition: 0.4s;
}

.card-image:hover {
    box-shadow: 0 10px 6px -6px #777;
}

.card .card-description {

}

/* Footer */

footer {
    background: #F5EFE8;
    padding: 8px;
    color: black;
    display: flex;
    flex-direction: column;
}

footer a {
    color: black;
}

footer #left-footer {}

footer #left-footer ul {
    padding: 8px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 80px;
}


footer #right-footer {

    padding: 8px;
    text-align: center;
}

.foot {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Media Queries */

@media (max-width: 900px) {
    nav li {
        display: none;
    }

    #menu-icon {
        display: flex;
        color: black;

    }

    #slideout-menu {
        display: block;
    }


}

@media (max-width: 719px) {
    main {
        width: 95%;
    }

    section {
        flex-direction: column;
    }

    .card,
    .card .card-image img {
        width: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer #left-footer {
        flex: 1;
        border-right: 0;
        padding-left: 0;
    }

    footer #right-footer {
        background: ##2d3436;
        color: #2d3436;
    }

    footer #right-footer a {
        color: #2d3436;
    }


}

@media (max-width: 600px) {
    main {
        width: 100%;
    }

    h1 {
        font-size: 48px;
    }

    #banner h3 {
        font-size: 20px;
    }

    .card {
        text-align: center;
    }

    #logo-img {
        padding: 0;
    }
}

@media (min-width:720px) {
    main {
        width: 100%;
    }

}

@media (min-width:1200px) {
    main {
        width: 100%;
    }
}


.container {
    max-width: 1400px;
}


.home {
    background: red;


}

.pictures {
    background: green;

}

.contact {
    background: teal;

}

.about {
    background: yellow;
}

.reading {
    background: blue;
}

.card {

}

.carousel {
    margin-bottom: 25px;
    padding-top: 190px;

}

.col-sm {
    box-shadow: 0 10px 6px -6px #777;
    margin: 1px;
    padding: 10px;
}

.card1 {
    background: red;
}

.card2 {
    background: green;
}

.card3 {
    background: teal;
}

.card4 {
    background: yellow;
}

/* Pictures */


.column {
    float: left;
    width: 33.33%;
    padding: 5px;

}


.firstrow {
    padding-top: 210px;

}


.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Contact Us */

.contactus {
    padding-top: 210px;
}

/* About Us */

.about_us {
    padding-top: 210px;
}

/* Reading Program */

.reading_program {
    padding-top: 210px;
}